--extra-index-url https://download.pytorch.org/whl/cpu

fastapi
uvicorn[standard]
mangum
python-dotenv
torch==2.12.1+cpu
transformers==4.57.6
bert-extractive-summarizer==0.10.1
flair==0.15.1
cachetools
